$dash-color: #8BC34A;


@keyframes animate-height {
  0% {
    transform: scaleY(0);
  }

  10% {
    background: $dash-color;
  }

  100% {
    transform: scaleY(97);
    background: $dash-color;
  }
}


@keyframes animate-width {
  0% {
    transform: scaleX(0);
  }

  10% {
    background: $dash-color;
  }

  100% {
    transform: scaleX(103);
    background: $dash-color;
  }
}



@keyframes offset-dash {
  100% {
    stroke-dashoffset: 0;
  }
}